<h2>コンサル依頼ページ</h2>
<%=  link_to @user.name, user_path(@user) %>さんに希望する内容を入力しましょう｡
<%= form_with model: [@user, @consultation], local: true,
    html: { data: { turbo_confirm: "依頼を送信してよろしいですか？" } } do |f| %>
  <p>
    <%= f.label :request_content, "相談内容" %><br>
    <%= f.text_area :request_content %>
  </p>
  <p>
    <%= f.label :answer_deadline, "提案期限" %>
    <%= f.select :answer_deadline, @answer_deadlines %>
  </p>
  <p>
    <%= f.submit "依頼する" %>
  </p>
<% end %>


