<h2><%= @user.name %></h2>
<p><%= @user.age %>才 <%= translate_gender(@user.gender) %></p>
<p><%= @user.profession %></p>

<%# 自分のページを見ている場合 %>
<% if current_user == @user %>
  <%#  受付ステータスによって表示を変える %>
  <% if @user.is_consultant %>
    <%= turbo_frame_tag 'toggle_consultant_status' do %>
      <%= link_to "受付を停止する", toggle_consultant_status_user_path(@user),
        data: { turbo_method: :patch, turbo_action: 'replace', turbo_frame: 'toggle_consultant_status' } %>
    <% end %>
  <% else %>
    <%= turbo_frame_tag 'toggle_consultant_status' do %>
      <%= link_to "受付を開始する", toggle_consultant_status_user_path(@user),
        data: { turbo_method: :patch, turbo_action: 'replace', turbo_frame: 'toggle_consultant_status' } %>
    <% end %>
  <% end %>
  <%= link_to "プロフィールを編集する", edit_user_path(@user) %>
<%# 自分以外のページを見ている場合 %>
<% else %>
  <%# current_userがこのユーザーに相談を依頼していない場合のみ表示 %>
  <% if !@already_requested %>
    <%= link_to "アイデアの相談をする", new_user_consultation_path(@user) %>
  <% end %>
<% end %>

<p>プロフィール</p>
<%= @user.profile %>

<p>スキル/知識</p>
<%= simple_format @user.skill %>


