<h2><%= @user.name %></h2>
<p><%= @user.age %>才 <%= translate_gender(@user.gender) %></p>
<p><%= @user.profession %></p>

<%# ログインユーザー(ゲストユーザー以外)が自分のページを見ている場合 %>
<% if current_user == @user && !@user.guest_user? %>
  <%#  受付ステータスによって表示を変える %>
  <% if @user.is_consultant %>
    <%= turbo_frame_tag 'toggle_consultant_status' do %>
      <%= link_to "受付を停止する", toggle_consultant_status_user_path(@user),
        data: { turbo_method: :patch, turbo_action: 'replace', turbo_frame: 'toggle_consultant_status' } %>
    <% end %>
  <% else %>
    <%= turbo_frame_tag 'toggle_consultant_status' do %>
      <%= link_to "受付を開始する", toggle_consultant_status_user_path(@user),
        data: { turbo_method: :patch, turbo_action: 'replace', turbo_frame: 'toggle_consultant_status' } %>
    <% end %>
  <% end %>
  <%= link_to "プロフィールを編集する", edit_user_path(@user) %>
<% end %>

<%# まだ相談していないユーザーにのみ､以下のリンクを表示する %>
<% if @not_consulted %>
  <%= link_to "アイデアの相談をする", new_user_consultation_path(@user) %>
<% end %>

<p>プロフィール</p>
<%= simple_format @user.profile %>

<p>スキル/知識</p>
<%= simple_format @user.skill %>


