<div class="login-container">
  <h2>ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-field" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input-field" %>
    </div>
    <div class="actions">
      <%= f.submit "ログイン", class: "login-button" %>
    </div>
    <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "guest-login-button" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>