<!DOCTYPE html>
<html>
  <head>
    <title>Origin Idea</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link href="app/assets/stylesheets/html5reset-1.6.1.css" rel="stylesheet"> %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
    <%# ナビゲーションバーを隠さないページの場合 %>
    <% if !hide_navbar? %>
      <header>
        <nav class="navbar navbar-expand-lg" >
          <div class="container-fluid">
            <a class="navbar-brand" href="<%= home_path %>">
              <h1>Origin Idea</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-item active"><%= link_to "トーク", talkrooms_path, class: "nav-link" %></li>
                  <li class="nav-item active"><%= link_to "依頼受付", received_consultations_user_consultations_path(current_user), class: "nav-link" %></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.name %>さん
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to "プロフィール", user_path(current_user), class: "dropdown-item" %>
                      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item active"><%= link_to "トーク", talkrooms_path, class: "nav-link" %></li>
                  <li class="nav-item active"><%= link_to "依頼受付", "#", class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "会員登録", new_user_registration_path, class: "nav-link" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% end %>
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-content">
        <small>&copy; 2022 Origin Idea</small>
      </div>
    </footer>
  </body>
</html>
